
{% extends 'base/login.html' %}
{% load languages %}
{% block content %}

          <div class="layout__body"><br>
            <h1 class="auth__tagline">{{"Enter new password"|translate:request.user.id}}</h1>

              <ul>
              <li>{{"Your password can't be too similar to your other personal information."|translate:request.user.id}}</li>
              <li>{{"Your password must contain at least 8 characters."|translate:request.user.id}}</li>
              <li>{{"Your password can't be a commonly used password."|translate:request.user.id}}</li>
                 <li>{{"Your password can't be entirely numeric."|translate:request.user.id}}</li>
                  </ul><br><hr><hr><br>

            <form class="form" action="" method="POST">
              {% csrf_token %}
              {% for field in form %}
          <div class="form__group form__group">
            <label style="text-align:left">{{field.label|translate:request.user.id}}</label>
            {{field}}{% if field.label == 'New password' %}
              <span class="password-toggle-icon"><i class="fas fa-eye"></i></span>
              {% endif %}

          </div>
          {% endfor %}
               <div class="auth__action">
            <input class="btn--main" type="submit" value="{{'Update password'|translate:request.user.id}}"/>

            </div>

            </form>
          </div>
      <script type="text/javascript">
    const passwordField = document.getElementById("id_new_password1");
const togglePassword = document.querySelector(".password-toggle-icon i");

togglePassword.addEventListener("click", function () {
  if (passwordField.type === "password") {
    passwordField.type = "text";
    togglePassword.classList.remove("fa-eye-slash");
    togglePassword.classList.add("fa-eye");
  } else {
    passwordField.type = "password";
    togglePassword.classList.remove("fa-eye");
    togglePassword.classList.add("fa-eye-slash");
  }
});

</script>

{% endblock content %}