
{% extends 'base/login.html' %}
{% load languages %}
{% block content %}

          <div class="layout__body"><br>

            <h1 class="auth__tagline">{{'Password reset'|translate:request.user.id}}</h1>
              <div class="form__group">
                <p>{{'Forgotten your password? Enter your email address below, and we will email instructions for setting a new one.'|translate:request.user.id}}</p>
             </div>
              <form class="form" action="" method="POST">
              {% csrf_token %}
              {% for field in form %}
          <div class="form__group form__group">
            <label style="text-align:left">{{"Email address"|translate:request.user.id}}</label>
              <div >{{field}}</div>

          </div>
          {% endfor %}
               <div class="auth__action">
            <input class="btn--main" type="submit" value="{{'Continue'|translate:request.user.id}}" />

            </div>

            </form>
          </div>

{% endblock content %}