

{% extends 'base/login.html' %}
{% load languages %}
{% block content %}

          <div class="layout__body"><br>

            <h1 class="auth__tagline">{{'Password reset complete'|translate:request.user.id}}</h1>
              <div class="form__group">
                <p>{{'Your password has been set. You may go ahead and log in now.'|translate:request.user.id}}</p>

             </div>
              <div class="auth__action">
              <p>
              <a href="{% url 'login' %}" class="btn btn--link">{{"Log in"|translate:request.user.id}}</a></p>

            </div>
          </div>
      {% endblock content %}