
{% load languages %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="assets/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static 'styles/style.css' %}">
    <title>mas network</title>
  </head>
{% block content %}

          <div class="layout__body"><br>
             <div class="layout__boxTitle">
            <a href="{{request.META.HTTP_REFERER}}">
              <span class="top-icon"><a href="{{request.META.HTTP_REFERER}}"><i class="fas fa-arrow-left"></i></a></span>
            </a>
            <h3>{{'Back'|translate:request.user.id}}</h3>
          </div><br>
            <h1 class="auth__tagline">{{'Welcome Back'|translate:request.user.id}}</h1>

            <form class="form" action="" method="POST">
              {% csrf_token %}
              <div class="form__group">
                 <label for="room_name" style="text-align:left;">{{'Username'|translate:request.user.id}}</label>
                <input id="username" name="lightning_address" type="text"
                placeholder="Enter your lightening address"  />
              </div>
              <div class="form__group">
                 <label for="password" style="text-align:left;">{{'Password'|translate:request.user.id}}</label>
                <input

                  id="password"
                  name="password"
                  type="password"
                  placeholder="{{'Password'|translate:request.user.id}}"
                />
                <span class="password-toggle-icon"><i class="fas fa-eye"></i></span>
              </div>

                <div class="check">
                <input type="checkbox" name="rem"/>
                <span>{{'Remember me'|translate:request.user.id}}</span>

              </div>
               <div class="forgot_password">
                <span><a href="{% url 'reset_password' %}">{{'Forgot Password'|translate:request.user.id}}</a></span>
              </div>

              <input class="btn--main" type="submit" value="{{'Sign in'|translate:request.user.id}}" />

            </form>
            <br><br>
          <div class="auth__action">
              <p> {{"Don't have an account yet?"|translate:request.user.id}}
              <a href="{% url 'language' %}" class="btn btn--link">{{"Sign up"|translate:request.user.id}}</a></p>

            </div>
          </div>
{% endblock content %}

  <script type="text/javascript">
    const passwordField = document.getElementById("password");
const togglePassword = document.querySelector(".password-toggle-icon i");

togglePassword.addEventListener("click", function () {
  if (passwordField.type === "password") {
    passwordField.type = "text";
    togglePassword.classList.remove("fa-eye-slash");
    togglePassword.classList.add("fa-eye");
  } else {
    passwordField.type = "password";
    togglePassword.classList.remove("fa-eye");
    togglePassword.classList.add("fa-eye-slash");
  }
});


</script>
</html>