{% load languages %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="assets/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static 'styles/main.css' %}">
    <title>mas network</title>
  </head>

   {% block content %}
          <div class="layout__body">
             <br><br><br>
         
            <div class="details">
              <p>{{"The solution"|translate:request.user.id}}</p>
              <button style="text-align: left;" class="main"><b><i class="fas fa-globe"></i> {{"English"|translate:request.user.id}} </b></button>
            </div>
              

            <br><br>
              <div class="action">
                <button class="dark"><a href="{% url 'language' %}">{{"Get started"|translate:request.user.id}}</a></button><br>
                <button class="main"><a href="{% url 'login' %}">{{"Already have an account"|translate:request.user.id}}</a></button>
            </div>
             </div>
            
  {% endblock content %}

</html>
